DATABASE_URL="postgresql://neondb_owner:npg_0EFhcVJyu9jz@ep-green-lab-ape9g736-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-super-secret-jwt-key-change-this"
ADMIN_EMAIL="admin@portfolio.com"
ADMIN_PASSWORD="admin123"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="yeboahmichael@gmail.com"
SMTP_PASS="!@Firatata45"
